:root {
  --bg-color: #101114;
  --primary-color: #1c1d20;
  --secondary-color: #4a4d57;
  --accent-color: #00ffc4;
  --text-color: #f9f9f9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

.title {
  margin-top: 100px;
  margin-bottom: 20px;

  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}
.container {
  width: 7000px;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo__list {
  list-style: none;
}
.form {
  position: relative;
}
.todo-input {
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}
.todo-input:focus {
  outline: none;
}
.todo__add-btn {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--accent-color);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: var(--bg-color);
  cursor: pointer;
}

.todo__list-item {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--primary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  transition: 0.2s ease;
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .todo__text {
  text-decoration: line-through;
  color: var(--secondary-color);
}
.todo__text {
  padding: 15px;
  padding-right: 0px;
  flex-grow: 1;

  transition: 0.2s ease;
}
.delete-btn {
  padding: 3px;
  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete-btn svg {
  transition: 0.2s ease;
}
.delete-btn:hover svg {
  fill: #ff0033;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .todo__add-btn {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }
  .title {
    margin-bottom: 50px;
  }
}

